<span>
	<div class="column" data-ng-click="enableEditor();" data-ng-hide="widgetEnabled">
		<h2>Portfolio</h2>
	    <p> Add content ...</p> 
	</div>
	<div  class="column widget" data-ng-show="widgetEnabled">
		<h2>Portfolio</h2>
		<table>
		<tr>
		<td><input type="text"></td><td><input type="text"></td>
		</tr>
		<tr>
		<td><input type="text"></td><td><input type="text"></td>
		</tr>
		<tr>
		<td><input type="text"></td><td><input type="text"></td>
		</tr>
		<tr>
		<td><input type="text"></td><td><input type="text"></td>
		</tr>
		<tr>
		<td><input type="text"></td><td><input type="text"></td>
		</tr>
		<tr>
		<td><input type="text"></td><td><input type="text"></td>
		</tr>
		<tr>
		<td><input type="text"></td><td><input type="text"></td>
		</tr>
		</table>
		<img src="/images/tick-large.png" />
	</div>
</span>
