// bower:scss
// endbower

@import "compass";
@import "settings";
@import "mixins";
@include gridle_generate_classes ( );
@include gridle_register_state( "tablet" , 401px , 730px );

.button{
    height:auto;
    padding:5px 10px 5px 10px;
    text-align:center;
    @include open-sans(300, 12px, black);   
    cursor:pointer;
    background-color:#ddd;
    position:relative;
    border-radius:2px;

}

.white{
    color:white;
}

.gray{
    color:rgb(107,107,107);
}

.bold{
    font-weight:bold;
}

.italic{
    font-style:italic;
}

.button-gray{
    @extend .button;
    @include open-sans(300, 12px, white);   
    background-color:gray;
}

p{
    &.small{
        @include open-sans(300, 10px, white);
    }
    &.normal{
        @include open-sans(300, 14px, white);
    }
    &.big{
        @include open-sans(300, 16px, white);
    }
}

body {
    margin: 0;
}

header{
    padding-top:20px;
    background:#000;
    height:55px;
    position:relative;
    top:0;
    left:0;
    width:100%;
    @include open-sans(300, 14px, white);
}
